


body{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.red{
    color:red;
}
.orange{
    color:orange;
}
.yellow{
    color:yellow;
}
.green{
    color:green
}
.blue{
    color:blue
}
.purple{
    color:purple
}
.center{
    text-align: center;
}
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.05, #f2f), color-stop(0.1, #22f), color-stop(0.15, #2ff), color-stop(0.2, #2f2),color-stop(0.25, #2f2), color-stop(0.3, #ff2), color-stop(.35, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.05, #f2f), color-stop(0.1, #22f), color-stop(0.15, #2ff), color-stop(0.2, #2f2),color-stop(0.25, #2f2), color-stop(0.3, #ff2), color-stop(.35, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.rainbow2 {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.01, #f2f), color-stop(0.02, #22f), color-stop(0.03, #2ff), color-stop(0.04, #2f2),color-stop(0.05, #2f2), color-stop(0.06, #ff2), color-stop(.07, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.01, #f2f), color-stop(0.02, #22f), color-stop(0.03, #2ff), color-stop(0.04, #2f2),color-stop(0.05, #2f2), color-stop(0.06, #ff2), color-stop(.07, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
.button{
    background-color:black;
    color:deeppink;
    padding: 90px 30px;
    display: inline-block;
    border: none;
    font-size: 100;
}